$primary-hue: 265;
$primary-saturation: 1;
$primary-light: 0.47;
$primary-magic-saturation: 0.87;
$secondary-hue: 180;
$secondary-saturation: 0.99;
$secondary-light: 0.27;

$tooltip-color: white;
// $tooltip-bgr: hsl(198, 20%, 17%);
$tooltip-bgr: hsla(0, 0%, 38%, 0.9);