article.elevation {  
  $width: 100px;
  $height: 50px;

  grid-auto-flow: dense;
  grid-template-columns: max-content max-content;
  grid-auto-rows: max-content;
  &::after {
    height: $height;
  }

  .elevation-demo-surface {
    grid-column: 1;
  }
    
  .mm_elevation__ {
    @import "theme"
    , "../src/atomic_singletons/box-shadow"
    ;
    
    @for $index from 0 through 24 {
      &#{$index} {
        grid-column: 2;
        @include box-shadow--elevation($index);
      }
    } 
  }  

  [data-cy] {
    margin: 2em;
    display: inline;
    & > * {
      width: $width;
      height: $height;
    }
  }
}
