article {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 100px 100px;
  grid-auto-rows: 50px;
  gap: 2em;
}
.elevation-demo-surface {
  grid-column: 1;
}


@import "../src/atoms/elevation.scss";
.mm_elevation__ {
  @for $index from 0 through 24 {
    &#{$index} {
      grid-column: 2;
      @include elevation($index)
    }
  } 
}
