article.icon_button {
  padding: 1em;  
  grid-template-columns: repeat(auto-fill, 7rem);
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  gap: 1em;
}

.mm0_ {
  @import "../src/u"
  , "theme"
  , "../src/fused_bodies/tooltip_animation"
  , "../src/state_modifier_declarations/actionable"
  ;
  
  &icon_button {
    &, &_toggler,
    &_ {
      @include block-icon_button--enabled();
    }

    &:disabled, &_toggler:disabled,
    &[data-state=":disabled"], &_[data-state=":disabled"] {
      @include block-icon_button--disabling();
    }

    &:hover, &_toggler:hover,
    &_[data-state=":hover"] {
      @include block-icon_button--hovering();      
    }
    &:focus, &_toggler:focus,
    &:focus-within, &_toggler:focus-within,
    &_[data-state=":focus"] {
      @include block-icon_button--focusing();
    }
    &:checked, &_[data-state=":checked"] {
      @include block-icon_button--activating();
    }  

    &_[data-state="selected"] {
      @include block-icon_button--selecting();
    }

    &:active, &_toggler:active,
    &_[data-state=":active"] {
      @include block-icon_button--pressing();
    }

    &_[data-state="dragging"] {
      @include block-icon_button--dragging();
    }


    &, &_toggler {
      // animation
      &#{$-entity-title} {
        &/*, &:active*/ {
          @include tooltip_animation--off();
        }
      }
      &:hover/*:not(:active)*/ {
        &#{$-entity-title} {
          @include tooltip_animation--on()
        }
      }
      &:active {
        //TODO add ripple
      }  
    }
  }
}
