// @use "../src/utils";
@use "../src/molecules/text";
@use "theme";
@use "../src/molecules/tooltip-animation";
@use "../src/atoms/background-color" with (
  $-hue: theme.$primary-hue,
  $-saturation: theme.$primary-saturation,
  $-light: theme.$primary-light
);
@use "../src/quarks/overlays";

article.icon {
  display: grid;
  grid-template-columns: max-content;
  & > section {
    display: contents;
  }
  // .content_ {
  //   @each $icon in (favorite_border, wifi) {
  //     &#{$icon} {
  //       @include utils.content($icon);
  //     }
  //   } 
  // }
}

.mm0_ { /* icon-button*/
  @import "../src/_core"
  , "../src/quarks/params-const"
  ;

  &icon_button {
    @import "../src/molecules/containers/icon";
    &::before {
      @import "../src/molecules/tooltip";
      @include tooltip-animation.off()
    }
    &::after {
      @import "../src/molecules/icon/core";
    }

    @include hover() {
      @include background-color.on_white(overlays.$hover);
      &::before {
        @include tooltip-animation.on()
      }
    }
    @include focus() {
      @include background-color.on_white(overlays.$focus);
    }
    @include focus-within() {
      @include background-color.on_white(overlays.$focus);
    }
    @include active() {
      //TODO add ripple
      @include background-color.on_white(overlays.$activated);
    }
  }
}
