article.icon_button {
  padding: 1em;  
  grid-template-columns: repeat(auto-fill, 7rem);
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  gap: 1em;
}

.mm0_ {
  @import "../src/u"
  , "theme"
  , "../src/fused_bodies/tooltip_animation"
  , "../src/state_modifier_declarations/actionable"
  ;
  
  &icon_button {
    &, &_toggler,
    &_, &_hover, &_focus, &_activated, &_checked, &_disabled, &_pressed, &_dragging, &_selected {
      @include block-icon_button--enabled();
    }
    &:hover, &_toggler:hover,
    &_hover {
      @include block-icon_button--hovering();      
    }
    &:focus, &_toggler:focus, &:focus-within, &_toggler:focus-within,
    &_focus {
      @include block-icon_button--focusing();
    }
    &:checked, &_activated {
      @include block-icon_button--activating();
    }  

    &_selected {
      @include block-icon_button--selecting();
    }

    &:active, &_toggler:active,
    &_pressed {
      @include block-icon_button--pressing();
    }

    &_dragging {
      @include block-icon_button--dragging();
    }

    &:disabled, &_toggler:disabled,
    &_disabled {
      @include block-icon_button--disabling();
    }

    &, &_toggler {
      // animation
      &#{$-entity-title} {
        &/*, &:active*/ {
          @include tooltip_animation--off();
        }
      }
      &:hover/*:not(:active)*/ {
        &#{$-entity-title} {
          @include tooltip_animation--on()
        }
      }
      &:active {
        //TODO add ripple
      }  
    }
  }
}
