.suite-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(max-content, 1px));
  gap: 1em;

  & > section {
    display: contents;
    &:nth-of-type(1) > * {
      grid-column: 1;
    }
    &:nth-of-type(2) > * {
      grid-column: 2;
    }
  }
}

.suite_vertical {
  display: grid;
  overflow: hidden;
  width: 100%;
  // grid-template-columns: repeat(auto-fill, minmax(max-content, 1px));
  grid-auto-columns: max-content;
  // grid-template-rows: repeat(auto-fit, minmax(max-content, 1px));
  grid-auto-rows: max-content;
  grid-auto-flow: row;
  & > section {
    &, & > div {
      display: contents;
    }
  }
}

.content_ {
  @import "theme"
  , "../src/utils"
  ;

  &wifi_icon {
    @include content("wifi");
  }

  &favorite_toggler {
    @include content("favorite_border", null, "favorite"); 
  }

  &bookmark_toggler {
    @include content("star_border", "Bookmark", "star"); 
  }

  &recents {
    @include content("access_time", "recents");
  }
  &nearby {
    @include content("near_me", "nearby");
  }

  &wifi_icon {
    @include content("wifi");
  }

  &favorite_toggler {
    @include content("favorite_border", null, "favorite"); 
  }

  &tab {
    @each $title in ("One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine", "Ten", "Eleven", "Twelve") {
      &_#{$title} {
        @include content(null, "Tab " $title);
      } 
    }
  }
}

.box-check {
  *:not(fieldset):not(legend) {
    outline-width: 1px;
    outline-style: dotted;
    outline-color: green;
    // out: 1px dotted green;
    &::before, &::after {
      background-color: hsl(0, 100%, 50%, 0.2);
    }
    background-color: hsl(240, 100%, 50%, 0.4);
    background-clip: border-box;
  }
}

/* article {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 1px));
  grid-template-rows: repeat(auto-fit, minmax(max-content, 1px));
  grid-auto-flow: row;
  gap: 1em;
} */
/* legend, h3 {
  grid-column: 1 / -1;
}
section, section > div {
  display: contents;
}
section > div::after {
  content: "";
  width: 4px;
  background-color: grey;
  z-index: 1000;
} */
