@use "theme";
@use "../src/atoms/state_background" with (
  $-hue: theme.$primary-hue,
  $-saturation: theme.$primary-saturation,
  $-light: theme.$primary-light
);
@use "../src/consts/overlays";

.palette {
  display: grid;
  grid-template-columns: 325px 100px 125px 100px;
  grid-template-rows: repeat(7, 100px);
  grid-auto-flow: dense;

  .ov_in {
    &0 { --overlay_index: #{overlays.$enabled};}
    &1 { --overlay_index: #{overlays.$hover};}
    &2 { --overlay_index: #{overlays.$selected};}
    &3 { --overlay_index: #{overlays.$focus};}  
  }
  .white {
    @include state_background.on_white(var(--overlay_index));      
    &.act {
      @include state_background.on_white(var(--overlay_index), true);      
    }  
  }
  .colored {
    @include state_background.on_color(var(--overlay_index));
    &.ov_in0 {
      @include state_background.on_color();
    }
    &.act {
      @include state_background.on_color(overlays.$activated, true);
    } 
  }

  .white {
    grid-column: 2;
    z-index: 1;
  }
  .colored {
    grid-column: 4;
    z-index: 1;
  }
  span {
    background-image: url(/material-palette.png);
    background-repeat: no-repeat;
    background-position-x: -100px;
    background-position-y: -80px;
    position: relative;
    width: 800px;
    height: 700px;
    grid-column: 1;
    grid-row: 1;
  }
}