article.palette {
  @import "theme"
  , "../src/atomic_singletons/background-color";
  gap: 0;
  grid-template-columns: 325px 100px 125px 100px;
  grid-template-rows: repeat(7, 100px);
  grid-auto-flow: dense;

  .ov_in {
    &0 { --overlay_index: #{$-overlay--enabled};}
    &1 { --overlay_index: #{$-overlay--hover};}
    &2 { --overlay_index: #{$-overlay--selected};}
    &3 { --overlay_index: #{$-overlay--focus};}  
  }
  .white {
    @include background-color--on_surface(var(--overlay_index));      
    &.act {
      @include background-color--on_surface(var(--overlay_index), true);      
    }  
  }
  .colored {
    @include background-color--on_color(var(--overlay_index));
    &.ov_in0 {
      @include background-color--on_color();
    }
    &.act {
      @include background-color--on_color($-overlay--activated, true);
    } 
  }

  .white {
    grid-column: 2;
    z-index: 1;
  }
  .colored {
    grid-column: 4;
    z-index: 1;
  }
  span {
    background-image: url(/material-palette.png);
    background-repeat: no-repeat;
    background-position-x: -100px;
    background-position-y: -80px;
    position: relative;
    width: 800px;
    height: 700px;
    grid-column: 1;
    grid-row: 1;
  }
}