body, #__next {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;  
}

#__next {
  display: grid;
}

#__next > article {
  overflow: auto;
  display: grid;
}
#__next > article::after {
  content: "";
  grid-column: 1 / -1;
  min-height: 2rem;
}

a[id][href] {
  grid-column: 1 / -1;
  scroll-behavior: smooth;
}
