body, #__next {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
}

#__next {
  display: grid;
}

#__next > article {
  overflow: auto;
  display: grid;
}
#__next > article::after {
  content: "";
  grid-column: 1 / -1;
}