article.ripple {
  @import "theme"
  , "../src/fusions/ripple"
  ;

  .ripple {
    &, &_2 {
      transition-duration: 1s;    
    }
    @include ripple($-bgr, $-ripple-bgr-color);
    &_2 {
      @include ripple($-bgr, transparent, $-ripple-bgr-color);
    }
  }
  
  div, button {
    width: 100px;
    height: 100px;
  }
  div {
    border: 1px solid black;
  }  
}
