@use "theme";
@use "../src/quarks/overlays";
@use "../src/functions/state-color" with (
  $-hue: theme.$primary-hue,
  $-saturation: theme.$primary-saturation,
  $-light: theme.$primary-light,
  $-magic-saturation: theme.$primary-magic-saturation
);

@use "../src/molecules/ripple" with (
  $-bgr: state-color.on_color(overlays.$hover)
);

article.ripple {
  $bgr: state-color.on_color(overlays.$hover);
  $bgr-ripple: state-color.on_color(overlays.$activated, true);;

  .ripple {
    &, &_2 {
      transition-duration: 1s;    
    }
    @include ripple.apply($bgr, $bgr-ripple);
    &_2 {
      @include ripple.apply($bgr, transparent, $bgr-ripple);
    }
  }
  
  div, button {
    width: 100px;
    height: 100px;
  }
  div {
    border: 1px solid black;
  }  
}
