@import "../calc";

$-do-mix: true !default;

@mixin -colorize-actionable(
  $current-red, $current-green, $current-blue,
  $back-red, $back-green, $back-blue,
  $state, $do-mix,
  $invert: false,
  $border-red: $current-red,
  $border-green: $current-green,
  $border-blue: $current-blue
) {
  color: rgb-($current-red, $current-green, $current-blue);
  border-color: rgb-($border-red, $border-green, $border-blue);

  $opacity: m($state, $-step);

// $border-red, $border-green, $border-blue,
// $current-red, $current-green, $current-blue,
 

  background-color: if(
    $do-mix,
    rgb-mix(
      $back-red, $back-green, $back-blue,
      $border-red, $border-green, $border-blue,
      $opacity
    ),
    if(
      $invert,
      rgb-(
        $back-red, $back-green, $back-blue,
        e(1, "-", $opacity)
      ),
      rgb-(
        $current-red, $current-green, $current-blue,
        
        $opacity
      )  
    )
  );
}

@mixin colorize--main_on_primary_surfaced($state, $do-mix: $-do-mix) {
  @include -colorize-actionable(
    $-main-red,
    $-main-green,
    $-main-blue,
    $-primary-red,
    $-primary-green,
    $-primary-blue,    
    $state,
    $do-mix,
    not $do-mix,
    $-surface-red,
    $-surface-green,
    $-surface-blue
  );
}

@mixin colorize--disable-fill() {
  $color: rgb-mix(
    $-surface-red, $-surface-green, $-surface-blue,
    $-main-red, $-main-green, $-main-blue,
    $-opacity-disabler
  );
  color: $color;
  border-color: $color;
  // TODO configurable rgb-mix vs rgb-
  background-color: rgb-mix(
    $-surface-red, $-surface-green, $-surface-blue,
    $-main-red, $-main-green, $-main-blue,
    m($-overlay--disabled, $-step)
  );
} 

@mixin colorize--disable-stroke() {
  $color: rgb-mix(
    $-surface-red, $-surface-green, $-surface-blue,
    $-main-red, $-main-green, $-main-blue,
    $-opacity-disabler
  );
  color: $color;
  border-color: $color;
  background-color: rgb-(
    $-surface-red, $-surface-green, $-surface-blue,
  );
} 


@mixin colorize--tooltip() {
  color: $-tooltip-color;
  background-color: $-tooltip-bgr;
}

@mixin colorize--main_on_surface($state, $do-mix: $-do-mix) {
  @include -colorize-actionable(
    $-main-red,
    $-main-green,
    $-main-blue,
    $-surface-red,
    $-surface-green,
    $-surface-blue,
    $state,
    $do-mix
  );
}

@mixin colorize--primary_on_surface($state, $do-mix: $-do-mix) {
  @include -colorize-actionable(
    $-primary-red,
    $-primary-green,
    $-primary-blue,
    $-surface-red,
    $-surface-green,
    $-surface-blue,
    $state,
    $do-mix,
    not $do-mix
  );
}

@mixin colorize--surface_on_primary($state, $do-mix: $-do-mix) {
  @include -colorize-actionable(
    $-surface-red,
    $-surface-green,
    $-surface-blue,
    $-primary-red,
    $-primary-green,
    $-primary-blue,
    m(2, $state),
    $do-mix
  );
}

@mixin colorize--surface_on_secondary($state, $do-mix: $-do-mix) {
  @include -colorize-actionable(
    $-surface-red,
    $-surface-green,
    $-surface-blue,
    $-secondary-red,
    $-secondary-green,
    $-secondary-blue,
    m(2, $state),
    $do-mix
  );
}
