@import "../atomic_singletons/appearence"
, "../atomic_singletons/margin"
;

@mixin element_reset() {
  @include margin--none();
  @include appearence--none();
  outline: none;
  box-sizing: content-box;
  border-width: 0;
  border-style: solid;
  cursor: pointer;
  text-decoration: none;
}