@import "../atomic_singletons/appearance"
, "../atomic_singletons/margin"
, "../atomic_singletons/cursor"
;

@at-root %element_reset {
  // TODO split
  @extend %margin--none
  , %appearance--none
  , %cursor--pointer
  ;
  outline: none;
  box-sizing: content-box;
  border-width: 0;
  border-style: solid;
  text-decoration: none;
}