@import "../atomic_singletons/order";

@mixin flow_order--horizontal() {
  grid-auto-flow: column;
  &#{$-entity-title} { @include order--last(); }
  &#{$-entity-icon} { @include order--first(); }
}

@mixin flow_order--horizontal-rev() {
  grid-auto-flow: column;
  &#{$-entity-title} { @include order--first(); }
  &#{$-entity-icon} { @include order--first(); }
}

@mixin flow_order--vertical() {
  grid-auto-flow: row;
  &#{$-entity-title} { @include order--first(); }
  &#{$-entity-icon} { @include order--first(); }
}  

@mixin flow_order--coincide() {
  &#{$-entity-title}, &#{$-entity-icon} {
    grid-column: 1;
    grid-row: 1;
  }
}