@import "../atomic_singletons/order";

@mixin flow_direction--horizontal() {
  grid-auto-flow: column;
  flex-flow: row;
  @include flow_order--straight();
}

@mixin flow_direction--horizontal-rev() {
  grid-auto-flow: column;
  flex-flow: row;
  @include flow_order--reverse();
}

@mixin flow_direction--vertical() {
  grid-auto-flow: row;
  flex-flow: column;
  @include flow_order--straight();
}  

@mixin flow_direction--coincide() {
  &#{$-entity-title}, &#{$-entity-icon} {
    grid-column: 1;
    grid-row: 1;
  }
}

@mixin flow_order--straight() {
  &#{$-entity-icon} { @include order--first(); }
  &#{$-entity-title} { @include order--last(); }
}

@mixin flow_order--reverse() {
  &#{$-entity-title} { @include order--first(); }
  &#{$-entity-icon} { @include order--last(); }
}
