@import "../atomic_singletons/font_smoothing"
, "../atomic_singletons/fallback"
, "../atomic_singletons/font-family"
, "../atomic_singletons/font-weight"
, "../atomic_singletons/line-height"
, "../atomic_singletons/letter-spacing"
, "../atomic_singletons/text-transform"
, "../atomic_singletons/white-space"
;

@at-root %material_icon {
  @extend %material_icon_core
  , %material_icon_etc
  ;
}

@at-root %material_icon_core {
  @extend %font-family--icon
  , %line-height--self
  , %font_smoothing--typography
  ;
}

@at-root %material_icon_etc {
  font-style: normal;
  display: inline-block;
  word-wrap: normal;
  direction: ltr;

  @extend %letter-spacing--normal
  , %text-transform--none
  , %white-space--no-wrap
  , %font-weight--regular
  , %fallback--icon
  ;
}