@import "../atomic_singletons/width";

@mixin wireframe-grid--default() {
  // height: max-content;
  @extend %width--one_line;
  display: inline-grid;
  
  grid-auto: {
    rows: u($-icon-size); // // button ?
    columns: max-content;
  }
  align: {
    items: center;
    content: center;
  }
  justify: {
    content: center;
  }
}

@mixin -wireframe-grid--icon_button() {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
  &, &#{$-entity-title} {
    position: relative;
  }
  &#{$-entity-title} {
    top: calc(200%);  
  }
}


@mixin wireframe-flex--icon_button() {
  display: flex;
  align-items: center;
  @extend %gap--tooltip;
}
