@import "../atomic_singletons/width";

@mixin wireframe-grid--default() {
  // height: max-content;
  @extend %width--one_line;
  display: inline-grid;
  
  grid-auto: {
    rows: u($-icon-size); // // button ?
    columns: max-content;
  }
  align: {
    items: center;
    content: center;
  }
  justify: {
    content: center;
  }
}

@mixin wireframe-flex--icon_button() {
  display: flex;
  align-items: center;
  @extend %gap--tooltip;
}

@mixin wireframe-flex--button() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}
