@use "sass:map";
@use "./mod";
@use "./mod2";

.coincide {
  @extend %template;
}
.scoped_ {
  &mod {
    @include mod.mixin();
    --var: #{map.get(mod.$var, "var")};  
    --function: #{mod.function()};
  }
  &mod2 {
    @include mod2.mixin();
    --var: #{map.get(mod2.$var, "var")};  
    --function: #{mod2.function()};
  }
}

