$white: var(--white);
$black: var(--black);

$primary: var(--primary);
$secondary: var(--secondary);
$background: var(--background);
$surface: var(--surface);
$error: var(--error);
/* on */
$on-primary: var(--on-primary);
$on-secondary: var(--on-secondary);
$on-surface: var(--on-surface);
$on-error: var(--on-error);
/* text */
$primary-on-background: var(--primary-on-background);
$secondary-on-background: var(--secondary-on-background);
$hint-on-background: var(--hint-on-background);
$disabled-on-background: var(--disabled-on-background);
$icon-on-background: var(--icon-on-background);
$primary-on-white: var(--primary-on-white);
$secondary-on-white: var(--secondary-on-white);
$hint-on-white: var(--hint-on-white);
$disabled-on-white: var(--disabled-on-white);
$icon-on-white: var(--icon-on-white);
$primary-on-black: var(--primary-on-black);
$secondary-on-black: var(--secondary-on-black);
$hint-on-black: var(--hint-on-black);
$disabled-on-black: var(--disabled-on-black);
$icon-on-black: var(--icon-on-black);
