& {
  --white: hsl(var(--white-data));
  --black: hsl(var(--black-data));

  --primary: hsl(var(--primary-data));
  --secondary: hsl(var(--secondary-data));
  --background: hsl(var(--white-data));
  --surface: hsl(var(--white-data));
  --error: hsl(var(--error-data));
  /* on */
  --on-primary: var(--white);
  --on-secondary: var(--white);
  --on-surface: var(--black);
  --on-error: var(--white);
  /* text */
  --primary-on-background: hsla(var(--black-data), var(--opacity-5));
  --secondary-on-background: hsla(var(--black-data), var(--opacity-4));
  --hint-on-background: hsla(var(--black-data), var(--opacity-3));
  --disabled-on-background: hsla(var(--black-data), var(--opacity-3));
  --icon-on-background: hsla(var(--black-data), var(--opacity-3));
  --primary-on-white: hsla(var(--black-data), var(--opacity-5));
  --secondary-on-white: hsla(var(--black-data), var(--opacity-4));
  --hint-on-white: hsla(var(--black-data), var(--opacity-3));
  --disabled-on-white: hsla(var(--black-data), var(--opacity-3));
  --icon-on-white: hsla(var(--black-data), var(--opacity-3));
  --primary-on-black: var(--white);
  --secondary-on-black: hsla(var(--white-data), var(--opacity-2));
  --hint-on-black: hsla(var(--white-data), var(--opacity-1));
  --disabled-on-black: hsla(var(--white-data), var(--opacity-1));
  --icon-on-black: hsla(var(--white-data), var(--opacity-1));
}