$white-data: var(--white-data);
$black-data: var(--black-data);
$primary-data: var(--primary-data);
$secondary-data: var(--secondary-data);
$error-data: var(--error-data);
/* font weight*/
$light: var(--light);
$regular: var(--regular);
$medium: var(--medium);
/* sizes */
$unit: var(--unit); // font size
$radius: var(--radius);