& {
  /* basic colors*/
  --white-data: 0, 0, 100%;
  --black-data: 0, 0, 0;
  --primary-data: 265, 100%, 47%;
  --secondary-data: 180, 99%, 27%;
  --error-data: 349, 100%, 35%; 
  /* font weight*/
  --light: 300;
  --regular: 400;
  --medium: 500;
  /* sizes */
  --unit: 1rem; // font size
  --radius: 4px;  
}