& {
  /* basic colors*/
  --primary-h: 265;
  --primary-s: 100%;
  --primary-l: 47%;
  --primary-data: var(--primary-h), var(--primary-s), var(--primary-l);
  --white-h:
    var(--primary-h)
    /* 0 */
  ;
  --white-s:
    /* var(--primary-s) */
    0%
  ;
  --white-l: 100%;
  --white-data: var(--white-h), var(--white-s), var(--white-l);
  --black-h: var(--primary-h) /*0*/;
  --black-s: var(--primary-s) /*0*/;
  --black-l: 0;
  --black-data: var(--black-h), var(--black-s), var(--black-l);
  /*additional colors*/
  --secondary-data: 180, 99%, 27%;
  --error-data: 349, 100%, 35%; 
  /* font weight*/
  --light: 300;
  --regular: 400;
  --medium: 500;
  /* sizes */
  --radius: 4px;  
  --unit: 1rem; // font size
  --size-big: calc(4.5 * var(--unit));
  --padding: calc(1.5 * var(--unit));
  --padding-double: calc(3 * var(--unit));
  --padding-half: calc(0.75 * var(--unit));  
  --padding-quater: calc(0.375 * var(--unit));  
}