/* basic colors*/
$primary-h: var(--primary-h);
$primary-s: var(--primary-s);
$primary-l: var(--primary-l);
$primary-data: var(--primary-data);
$white-h: var(--white-h);
$white-s: var(--white-s);
$white-l: var(--white-l);
$white-data: var(--white-data);
$black-h: var(--black-h);
$black-s: var(--black-s);
$black-l: var(--black-l);
$black-data: var(--black-data);
/*additional colors*/
$secondary-data: var(--secondary-data);
$error-data: var(--error-data);
/* font weight*/
$light: var(--light);
$regular: var(--regular);
$medium: var(--medium);
/* sizes */
$unit: var(--unit); // font size
$radius: var(--radius);