$state-white-hover: var(--state-white-hover);
$state-white-focus: var(--state-white-focus);
$state-white-active: var(--state-white-active);
$state-white-selected: var(--state-white-selected);
$state-colored-hover: var(--state-colored-hover);
$state-colored-focus: var(--state-colored-focus);
$state-colored-active: var(--state-colored-active);
$state-colored-selected: var(--state-colored-selected);
