& {
  --state-white-hover: 4;
  --state-white-focus: 12;
  --state-white-active: 12;
  --state-white-selected: 8;

  --state-colored-hover: 8;
  --state-colored-focus: 24;
  --state-colored-active: 32;
  --state-colored-selected: 16;
}