@import "../molecules/ripple";

@mixin ripple(
  $bgr: $-bgr,
  $bgr-ripple: $-ripple-bgr-color,
  $bgr-back: $-ripple-bgr-back,
  $hover: $-mod-hover,
  $active: $-mod-active,
  $ratio: $-ripple-ratio
) {
  @include ripple--base();
  &#{$hover} {
    @include ripple--source($bgr, $bgr-back, $ratio);
  }
  &#{$active} {
    @include ripple--target($bgr-ripple);
  }  
}
