$-z-index: 1;

$-duration-in: 150ms !default;
$-delay-in: 150ms !default;

$-duration-out: 75ms !default;
$-delay-out: 75ms !default;

$-max: 1.5s !default;

@import "../molecules/tooltip_animation";

@mixin tooltip_animation--off(
  $duration: $-duration-out,
  $delay: $-delay-out,
  $z-index: $-z-index
) {
  @include tooltip_animation--timing_out($duration, $delay);
  @include tooltip_animation--start();
  @include tooltip_animation--base($z-index)
}

@mixin tooltip_animation--on(
  $duration-in: $-duration-in,
  $duration-out: $-duration-out,
  $delay: $-delay-in,
  $max: $-max
) {
  @include tooltip_animation--timing_in($duration-in, $delay);

  //TODO Conflicts in Firefox with start-transition
  @supports not( -moz-appearance: none ) {
    @include tooltip_animation--disappear_animation($duration-out, $max);
  }

  @include tooltip_animation--end();
}
