/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v53/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

$host: "https://fonts.gstatic.com/s/i/materialicons/";
$post: "/v6/24px.svg";

@mixin material-host {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  &::after {
    @include material_icon()
  }
}

@mixin iconing($content) {
  &::after {
    content: $content;
    @content;
  }
}

@mixin material_icon() {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
@mixin material-bgr($name) {
  background-image: url(#{$host}#{$name}#{$post});
  background-size: contain;
  background-repeat: no-repeat;
}
@mixin bords-reset() {
  border: none;
  outline: none;
}