// https://material.io/design/motion/speed.html#easing

$standard: cubic-bezier(0.4, 0.0, 0.2, 1);
//$emphasized
$decelerated: cubic-bezier(0.0, 0.0, 0.2, 1);
$accelerated: cubic-bezier(0.4, 0.0, 1, 1);
