@import "../calc";
$-hue: 265 !default;
$-saturation: 1 !default;
$-light: 0.47 !default;
$-magic-saturation: 0.86 !default;

$-step: 0.04 !default;

@function -light-value($index, $start, $ending, $step-k, $step: $-step) {
  @return e(
    $start,
    "+",
    m($step, $step-k, $index, $ending),
    true
  );
}

@function on-white(
  $index: 0,
  $acted: false,
  $hue: $-hue,
  $saturation: $-saturation,
  $light: $-light
) {
  $sat: 0;
  $light-end: 1;

  @if ($acted) {
    /* (0.96 - 0.02 * $index) */
    $sat: $saturation;
    $light-end: $light;
  }

  @return hsl-(
    $hue,
    $sat,
    -light-value(
      $index,
      1,
      $light-end,
      -1
    )
  );
}


@function on-color(
  $index: 0,
  $acted: false,
  $hue: $-hue,
  $saturation: $-saturation,
  $light: $-light,
  $magic-saturation: $-magic-saturation
) {
  $sat: if($index == 0, $saturation, $magic-saturation); 

  @return hsl-(
    $hue,
    $sat,
    -light-value(
      if(
        $acted,
        e($index, "+", 1, true),
        $index
      ),
      $light,
      e(1, "-", $light),
      2
    )      
  );
}