@import "../calc";

$-step: 0.04;

@function -light-value($index, $start, $ending, $step-k, $step: $-step) {
  @return e(
    $start,
    "+",
    m($step, $step-k, $index, $ending),
    true
  );
}

@function on-white($index: 0, $acted: false, $hue, $saturation, $light) {
  $sat: 0;
  $light-end: 1;

  @if ($acted) {
    /* (0.96 - 0.02 * $index) */
    $sat: $saturation;
    $light-end: $light;
  }

  @return hsl(
    $hue,
    ce(100%, "*", $sat),
    ce(100%, "*", -light-value(
      $index,
      1,
      $light-end,
      -1
    ))
  );
}


@function on-color($index: 0, $acted: false, $hue, $saturation, $light, $magic-saturation) {
  $sat: if($index == 0, $saturation, $magic-saturation); 

  @return hsl(
    $hue,
    ce(100%, "*", $sat),
    ce(
      100%, "*", -light-value(
        if(
          $acted,
          e($index, "+", 1, true),
          $index
        ),
        $light,
        e(1, "-", $light),
        2
      )      
    )
  );
}