@at-root {
  :root {
    @import "quarks/params-source"
    ;
    font-family: Roboto, sans_serif;
  }

  .mm_ {    
    @import "../pages/theme"
    , "../src/molecules/typography";

    /* text */
    & {
      &text_headline1 {@include typography--headline1(); }
      &text_headline2 {@include typography--headline2(); }
      &text_headline3 {@include typography--headline3(); }
      &text_headline4 {@include typography--headline4(); }
      &text_headline5 {@include typography--headline5(); }
      &text_headline6 {@include typography--headline6(); }
      &text_subtitle1 {@include typography--subtitle1(); }
      &text_subtitle2 {@include typography--subtitle2(); }
      &text_body1 {@include typography--body1(); }
      &text_body2 {@include typography--body2(); }
      &text_button {@include typography--button(); }
      &text_caption {@include typography--caption(); }
      &text_overline {@include typography--overline(); }
    }

    &tab {
      @import "_core"
      , "params"
      ;  
      &_item {
        @mixin tab-item-core() {
          &#{$-entity-title} {
            @include typography--button();     
          } 
          &#{$-entity-icon} {
            padding-right: $padding-quater;
            font-size: $padding;
          }
          color: hsla(265, 0, 0, 0.54);
        
          @include hover() {
            background-color: hsl(265, 100%, 98%);
          }
          @include active() {
            color: hsl(265, 100%, 47%);
          }
        }
        &, &_small {    
          &#{$-entity-icon} {
            @import "../src/molecules/material_icon";
            @include material_icon();
          }
        }        
        & {
          @import "./molecules/containers/tab-item";
          @include tab-item-core();
          &._bordered {
            box-sizing: border-box;
            border-bottom: 2px solid currentColor;
          }
        }
        &_small {
          @import "./molecules/containers/tab-item-small";
          @include tab-item-core();
          &._bordered#{$-entity-title} {
            box-sizing: border-box;
            border-bottom: 2px solid currentColor;
          }
        }
      }
    }

    &2_ {      
      @import "u"
      , "../pages/theme"
      , "./blocks/actionable"
      ;
    }
  }  
}
