@mixin resize-style(
  $controller: ".resize-controller",
  $container: ".resize-container",
  $size: var(--resize-controller-size),
) {
  #{$controller} {
    overflow: scroll;
    &::-webkit-resizer {
      opacity: 0;
    }
  }

  #{$container} {
    $directions: left, right, top, bottom;
    @each $direction in $directions {
      &-#{$direction} {
        overflow: hidden;    
        padding-#{$direction}: #{$size};

        display: grid;
        &::before, &::after, & > * {
          grid-column: 1;
          grid-row: 1;      
        }
        &::before, &::after, & > :not(#{$controller}) {
          z-index: 1;
        }
        &::before, &::after {
          pointer-events: none;
        }
        & > #{$controller} {
          margin-#{$direction}: calc(-1 * #{$size}); 
        }
      }
    }
    
    &-left, &-right {
      & > #{$controller} {
        resize: horizontal;
        &::-webkit-scrollbar {
          width: #{$size};
          height: 100vh;      
        }
      }
    }
    &-top, &-bottom {
      & > #{$controller} {
        resize: vertical;
        &::-webkit-scrollbar {
          width: 100vw;
          height: #{$size};
        }      
      }
    }

    &-left > #{$controller} {
      transform: scaleX(-1);
    }
    &-top > #{$controller} {
      transform: scaleY(-1);
    }
  }
}