@mixin background-color--on_white($index: 0, $acted: false, $hue: $-hue, $saturation: $-saturation, $light: $-light) {
  background-color: on_white($index, $acted, $hue, $saturation, $light);
}

@mixin background-color--on_color($index: 0, $acted: false, $hue: $-hue, $saturation: $-saturation, $light: $-light, $magic-saturation: $-magic-saturation) {
  background-color: on_color($index, $acted, $hue, $saturation, $light, $magic-saturation);
}

@mixin background-color--on_surface(
  $index: 0,
  $red: $-main-red,
  $green: $-main-green,
  $blue: $-main-blue
) {
  background-color: on_surface(
    $index,
    $red,
    $green,
    $blue    
  );
}