@mixin letter-spacing--normal() {
  letter-spacing: normal;
}

@mixin letter-spacing--none() {
  letter-spacing: 0;
}

@mixin letter-spacing--h1() {
  letter-spacing: u(-1.5 / 16);
}

@mixin letter-spacing--h2() {
  letter-spacing: u(-0.5 / 16);
}

@mixin letter-spacing--overline() {
  letter-spacing: u(2 / 16);
}
@mixin letter-spacing--button() {
  letter-spacing: u(1.25 / 16);
}

@mixin letter-spacing--body1() {
  letter-spacing: u(0.5 / 16);
}

@mixin letter-spacing--caption() {
  letter-spacing: u(0.4 / 16);
}

@mixin letter-spacing--body() {
  letter-spacing: u(0.25 / 16);
}

@mixin letter-spacing--subtitle1() {
  letter-spacing: u(0.15 / 16);
}

@mixin letter-spacing--subtitle2() {
  letter-spacing: u(0.1 / 16);
}

