article.icon_button {
  padding: 1em;  
  grid-template-columns: repeat(auto-fill, 7rem);
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  gap: 1em;
}

.mm0_ {
  @import "../src/u"
  , "theme"
  , "../src/fused_bodies/tooltip_animation"
  , "../src/state_modifier_declarations/actionable"
  ;
  
  &icon_ {
    &button, &stater {
      @include block-icon_button--enabled();
      &:hover {
        @include block-icon_button--hovering();      
      }
      // &:focus-within,
      &:focus {
        @include block-icon_button--focusing();
      }
  
      &:active {
        @include block-icon_button--pressing();
        //TODO add ripple
      }
  
      &[data-state-dragging] {
        @include block-icon_button--dragging();
      }
  
      // animation
      &:not(.no-animation) {
        &:hover/*:not(:active)*/ {
          &#{$-entity-title} {
            @include tooltip_animation--on()
          }
        }
        // &:active, 
        & {
          &#{$-entity-title} {
            @include tooltip_animation--off();
          }
        }
        // &:active {
        //   animation-delay: 0s;
        // }  
      }
    }

    &stater:checked {
      @include block-icon_button--activating();
    }  
    &button, &stater {
      &:disabled, &[data-state-disabled] {
        @include block-icon_button--disabling();
      }
    }

  }
}
