
@import "../molecules/typography"
, "../molecules/material_icon";

@mixin sizing--icon($icon-size: $-icon-size) {
  font-size: u($icon-size);
  width: 1em;
  height: 1em;
}

/* todo: remove 2 molecules */
@mixin actionable_core--default($icon-size: $-icon-size) {
  &::before {
    @include typography--button(1.75);
    height: u($-icon-size);
  }
  &::after {
    @include sizing--icon($icon-size);
    @include material_icon();
  }
}

@mixin actionable_core--icon_button() {
  @include sizing--icon();

  &::before {
    @include typography--caption($-icon-size);
  }
  &::after {
    @include material_icon();
  }  
}
