@mixin flow_order--horizontal() {
  grid-auto-flow: column;
  &#{$-entity-title} { order: 2; }
  &#{$-entity-icon} { order: 1; }
}

@mixin flow_order--horizontal-rev() {
  grid-auto-flow: column;
  &#{$-entity-title} {order: 1;}
  &#{$-entity-icon} {order: 2;}
}

@mixin flow_order--vertical() {
  grid-auto-flow: row;
  &#{$-entity-title} {order: 2;}
  &#{$-entity-icon} {order: 1;}
}  

@mixin flow_order--coincide() {
  &#{$-entity-title}, &#{$-entity-icon} {
    grid-column: 1;
    grid-row: 1;
  }
}