/* Ripple effect */
/* Based on https://codepen.io/finnhvman/pen/jLXKJw */

$-bgr: null !default;
$-bgr-ripple: null !default;
$-bgr-back: transparent !default;
$-ratio: 100 !default;
$-hover: ":hover";
$-active: ":active";

@mixin source(
  $bgr: $-bgr,
  $bgr-back: $-bgr-back,  
  /*more value - less clicked circle point*/
  $ratio: $-ratio
) {
  $boundary: 100% / $ratio;

  background-color: $bgr;
  background-image: radial-gradient(
    circle,
    $bgr-back $boundary,
    $bgr $boundary
  );
  /* math.sqrt(2) */
  background-size: 100% * 1.41 * $ratio;
}

@mixin target($bgr-ripple: $-bgr-ripple) {
  @if $bgr-ripple != null {
    background-color: $bgr-ripple;
  }
  background-size: 100%;
  transition-duration: 0s;
}

@mixin base() {
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  transition-property: background-color, background-size;
}

@mixin apply(
  $bgr: $-bgr,
  $bgr-ripple: $-bgr-ripple,
  $bgr-back: $-bgr-back,
  $hover: $-hover,
  $active: $-active
) {
  @include base();
  &#{$hover} {
    @include source($bgr, $bgr-back);
  }
  &#{$active} {
    @include target($bgr-ripple);
  }  
}
