/* Ripple effect */
/* Based on https://codepen.io/finnhvman/pen/jLXKJw */

@mixin ripple--source(
  $bgr: $-bgr,
  $bgr-back: $-bgr-back,  
  /*more value - less clicked circle point*/
  $ratio: $-ratio
) {
  $boundary: 100% / $ratio;

  background: {
    color: $bgr;
    image: radial-gradient(
      circle,
      $bgr-back $boundary,
      $bgr $boundary
    );
    /* math.sqrt(2) */
    size: 100% * 1.41 * $ratio;  
  };
}

@mixin ripple--target($bgr-ripple: $-bgr-ripple) {
  @if $bgr-ripple != null {
    background-color: $bgr-ripple;
  }
  background-size: 100%;
  transition-duration: 0s;
}

@mixin ripple--base() {
  background: {
    repeat: no-repeat;
    position-x: 50%;
    position-y: 50%;
  };
  transition-property: background-color, background-size;
}

