@use "opt";

$-unit: 1rem !default;

@import "../u";

$-light: 300 !default;
$-regular: 400 !default;
$-medium: 500 !default;

@mixin headline1() {
  font-weight: #{$-light};
  font-size: u(6);
  line-height: 1;
  letter-spacing: u(-1.5 / 16);
  // letter-spacing: -0.015625em;
  margin-block: 1em;
  @include opt.smooth();
}
@mixin headline2() {
  font-weight: #{$-light};
  font-size: u(3.75);
  line-height: 1;
  letter-spacing: u(-0.5 / 16);
  // letter-spacing: -0.0083333333em;
  margin-block: 0.83em;
  @include opt.smooth();
}
@mixin headline3() {
  font-weight: #{$-regular};
  font-size: u(3);
  line-height: u(3.125);
  letter-spacing: u(0);
  // letter-spacing: 0; // aka normal
  margin-block: 1em;
  @include opt.smooth();
}
@mixin headline4() {
  font-weight: #{$-regular};
  font-size: u(2.125);
  line-height: u(2.5);
  letter-spacing: u(0.25 / 16);
  // letter-spacing: 0.0073529412em;
  margin-block: 1.33em;
  @include opt.smooth();
}
@mixin headline5() {
  font-weight: #{$-regular};
  font-size: u(1.5);
  line-height: u(2);
  letter-spacing: u(0);
  // letter-spacing: 0;
  margin-block: 1.67em;
  @include opt.smooth();
}
@mixin headline6() {
  font-weight: #{$-medium};
  font-size: u(1.25);
  line-height: u(2);
  letter-spacing: u(0.25 / 16);
  // letter-spacing: 0.0125em;
  margin-block: 2.33em;
  @include opt.smooth();
}
@mixin subtitle1() {
  font-weight: #{$-regular};
  font-size: u(1);
  line-height: u(1.75);
  letter-spacing: u(0.15 / 16);
  // letter-spacing: 0.009375em;
  margin-block: 2.33em;
  @include opt.smooth();
}
@mixin subtitle2() {
  font-weight: #{$-medium};
  font-size: u(0.875);
  line-height: u(1.375);
  letter-spacing: u(0.1 / 16);
  // letter-spacing: 0.0071428571em;
  margin-block: 2.33em;
  @include opt.smooth();
}
@mixin body1() {
  font-weight: #{$-regular};
  font-size: u(1);
  line-height: u(1.5);
  letter-spacing: u(0.5 / 16);
  // letter-spacing: 0.03125em;
  margin-block: 1em;
  @include opt.smooth();
}
@mixin body2() {
  font-weight: #{$-regular};
  font-size: u(0.875);
  line-height: u(1.25);
  letter-spacing: u(0.25 / 16);
  // letter-spacing: 0.0178571429em;
  margin-block: 1em;
  @include opt.smooth();
}
/* Icon's 1.5 may be useful */ 
@mixin button($line: 2.25) {
  font-weight: #{$-medium};
  font-size: u(0.875);
  text-transform: uppercase;
  line-height: u($line);
  letter-spacing: u(1.25 / 16);
  // letter-spacing: 0.0892857143em;
  @include opt.smooth();
}
@mixin caption() {
  font-weight: #{$-regular};
  font-size: u(0.75);
  line-height: u(1.25);
  letter-spacing: u(0.4 / 16);
  // letter-spacing: 0.0333333333em;
  @include opt.smooth();
}
@mixin overline() {
  font-weight: #{$-medium};
  font-size: u(0.75);
  line-height: u(2);
  text-transform: uppercase;
  letter-spacing: u(2 / 16);
  // letter-spacing: 0.1666666667em;
  @include opt.smooth();
}

