@import "../atomic_singletons/border-radius"
, "../atomic_singletons/box-sizing"
, "../atomic_singletons/border-width"
, "../molecule_snippets/visuality"
, "../fused_bodies/disable"
, "../fused_bodies/layout"
, "../fused_bodies/tooltip"
;

@mixin block-tab_item--enabled() {
  @include layout--tab_item();
}
@mixin block-tab_item_vert--enabled() {
  @include layout--tab_item_vert();
}
@mixin block-fab_icon--enabled() {
  @include layout--fab_icon();
  @extend %border-radius--fab;
  &#{$-entity-title} {
    //TODO: @include tooltip();  
    display: none;
  }  
}
@mixin block-fab_min--enabled() {
  @include layout--fab_min();
  @extend %border-radius--fab;
  &#{$-entity-title} {
    //TODO: @include tooltip();  
    display: none;
  }  
}
@mixin block-fab--enabled() {
  @include layout--fab();
  @extend %border-radius--fab;
}
@mixin block-fab_rev--enabled() {
  @include layout--fab_rev();
  @extend %border-radius--fab;
}

@mixin block-button-base() {
  @include layout--button();
  @extend %border-radius--default;
  @extend %box-sizing--border;
}

@mixin block-button_text--disabled() {
  @include block-button-base();
  @include disable--stroke();
}
@mixin block-button_outlined--disabled() {
  @include block-button-base();
  @include disable--stroke();
  border-width: 1px; // ?!
  @extend %border-width--exists;
}
@mixin block-button_unelevated--disabled() {
  @include block-button-base();
  @include disable--fill();
}
@mixin block-button_raised--disabled() {
  @include block-button-base();
  @include disable--fill();
}

@mixin block-button_text--enabled() {
  @include block-button-base();
  @include colorize--primary_on_surface($-overlay--enabled);
}
@mixin block-button_text--hover() {
  @include colorize--primary_on_surface($-overlay--hover);
}
@mixin block-button_text--focus() {
  @include colorize--primary_on_surface($-overlay--focus);
}
@mixin block-button_text--activating() {
  @include colorize--primary_on_surface($-overlay--activated);
}

@mixin block-button_outlined--enabled() {
  @include block-button-base();
  @include colorize--primary_on_surface($-overlay--enabled);
  
  border-width: 1px; // ?!
  @extend %border-width--exists;
}
@mixin block-button_outlined--hover() {
  @include colorize--primary_on_surface($-overlay--hover);
}
@mixin block-button_outlined--focus() {
  @include colorize--primary_on_surface($-overlay--focus);
}
@mixin block-button_outlined--activating() {
  @include colorize--primary_on_surface($-overlay--activated);
}

@mixin block-button_unelevated--enabled() {
  @include block-button-base();
  @include colorize--surface_on_primary($-overlay--enabled);
}
@mixin block-button_unelevated--hover() {
  @include colorize--surface_on_primary($-overlay--hover);
}
@mixin block-button_unelevated--focus() {
  @include colorize--surface_on_primary($-overlay--focus);
}
@mixin block-button_unelevated--activating() {
  @include colorize--surface_on_primary($-overlay--activated);
}

@mixin block-button_raised--enabled() {
  @include block-button-base();
  @include colorize--surface_on_primary($-overlay--enabled);
  @include box-shadow--elevation(2);
}
@mixin block-button_raised--hover() {
  @include colorize--surface_on_primary($-overlay--hover);
  @include box-shadow--elevation(4);
}
@mixin block-button_raised--focus() {
  @include colorize--surface_on_primary($-overlay--focus);
  @include box-shadow--elevation(4);
}
@mixin block-button_raised--activating() {
  @include colorize--surface_on_primary($-overlay--activated);
  @include box-shadow--elevation(8);
}

//TODO @mixin block-button_shaped--enabled() {
//   @include layout--button();
//   @extend %border-radius--default;
// }

@mixin block-icon_button--enabled() {
  @include layout--icon_button();
  @extend %border-radius--fab;
  @include colorize--main_on_surface($-overlay--enabled);
  &#{$-entity-title} {
    @include tooltip();
    @include visuality--hidden(); 
  }
}

@mixin block-icon_button--disabling() {
  @include disable--stroke();
}

@mixin block-icon_button--hovering() {
  @include colorize--main_on_surface($-overlay--hover);
  &#{$-entity-title} {
    @include visuality--shown(); 
  }
}

@mixin block-icon_button--focusing() {
  @include colorize--main_on_surface($-overlay--focus);
  // &#{$-entity-title} {
  //   @include visuality--hidden(); 
  // }
}

@mixin block-icon_button--pressing() {
  @include colorize--main_on_surface($-overlay--pressed-surface);
}  


@mixin block-icon_button--activating() {
  @include colorize--primary_on_surface($-overlay--activated);
}  

@mixin block-icon_button--dragging() {
  @include colorize--main_on_surface($-overlay--dragged);
}  
// on // off // error