@import "../molecule_snippets/tooltip_animation";

@mixin tooltip_animation--off(
  $duration: $-duration-out,
  $delay: $-delay-out,
  $z-index: $-tooltip-z-index
) {
  @include tooltip_animation--timing_out($duration, $delay);
  @include tooltip_animation--start();
  @include tooltip_animation--base($z-index)
}

@mixin tooltip_animation--on(
  $duration-in: $-duration-in,
  $duration-out: $-duration-out,
  $delay: $-delay-in,
  $max: $-duration-max
) {
  @include tooltip_animation--timing_in($duration-in, $delay);

  //TODO Conflicts in Firefox with start-transition
  @supports not( -moz-appearance: none ) {
    @include tooltip_animation--disappear_animation($duration-out, $max);
  }

  @include tooltip_animation--end();
}
