$-overlay--enabled: 0 !default;
/** :hover */ 
$-overlay--hover: 1 !default;
/** :focus, :focus-within */ 
$-overlay--focus: 3 !default;
/** :checked with state icon */
$-overlay--selected: 2 !default;
/** :checked without state icon */
$-overlay--activated: 3 !default;
/** :active */
$-overlay--pressed: 3 !default; // on_color is 4
/** need custom */
$-overlay--dragged: 2 !default;
/** :disabled */
$-overlay--disabled: 3 !default; // on_color.saturation := 0, textColor: 0,0,50%, on_white bgr white, color.opacity: 38 or 62

//TODO $-overlay--hover-and-selected = $-overlay--hover + $-overlay--selected